// vars
$dark-primary-color: #455A64;
$primary-color: #607D8B;
$light-primary-color: #CFD8DC;
$accent-color: #536DFE;
$dark-accent-color: #3d5afe;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$white: #FFFFFF;

@import "font-awesome/scss/font-awesome";

body {
  color: $primary-text-color;
}

/* page title styles */
.jumbotron {
  background: $primary-color;
  color: $white;
  border-top: 50px solid $dark-primary-color;
}
hr {
  border-color: $light-primary-color;
  border-width: 3px;
}

.search-bar {
  color: $primary-text-color;
}

input[type="submit"] {
  font-family: FontAwesome;
  background: $accent-color;
  color: $white;

  &:hover {
    background: $dark-accent-color;
  }
}

input[type="text"] {
  box-sizing: border-box;
  
  &:focus {
    outline: solid 1px $accent-color;
  }
}
.search-label {
  background: $dark-primary-color;
  color: $white;
  
  &-mobile {
    color: $white;
  }
}

// .bar-item {
//   // background: $light-primary-color;
//   // border: solid 1px $dark-primary-color;
//   border-left: solid 9px $primary-color;
// }

// .heading-wrapper {
//   display: flex;
//   justify-content: center;
// }

// .thumbnail-wrapper {
//   width: 120px;
//   display: flex;
//   align-items: center;
// }

// .item-wrapper {
//   display:flex;
// }