// vars
$dark-primary-color: #455A64;
$primary-color: #607D8B;
$light-primary-color: #CFD8DC;
$accent-color: #536DFE;
$dark-accent-color: #3d5afe;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$white: #FFFFFF;

@import "font-awesome/scss/font-awesome";

body {
  color: $primary-text-color;
}

/* page title styles */
.jumbotron {
  background: $primary-color;
  color: $white;
  border-top: 50px solid $dark-primary-color;
}
hr {
  border-color: $light-primary-color;
  border-width: 3px;
}

.search-bar {
  color: $primary-text-color;
}

input[type="submit"] {
  font-family: FontAwesome;
  background: $accent-color;
  color: $white;

  &:hover {
    background: $dark-accent-color;
  }
}

input[type="text"] {
  box-sizing: border-box;
  
  &:focus {
    outline: solid 1px $accent-color;
  }
}
.search-label {
  background: $dark-primary-color;
  color: $white;
  
  &-mobile {
    color: $white;
  }
}

.bar-card {
  margin-left: 7px !important;
  margin-right: 7px !important;
  border-color: $dark-primary-color;
}

.heading-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $light-primary-color;
  border-color: $dark-primary-color;

  .img-wrapper img {
    border: 2px solid $dark-primary-color;
  }

  h4 {
    padding-left: 10px;
    border-left: 7px solid $primary-color;

    a {
      color: $primary-text-color;
    }
  }
}

.bar-card .card-block {
  .btn {
    color: $dark-accent-color;
    border-color: $dark-accent-color;

    &:hover {
      color: $white;
      border-color: $dark-accent-color;
      background: $dark-accent-color;
      cursor: pointer;
    }
  }
}

.login-modal {
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparentize($primary-color, 0.5);
}

.modal-btn {
  color: $white;
  border-color: $dark-primary-color;
  background-color: $primary-color;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
    background-color: $white;
  }
}

.login-modal {
  .card {
    border-color: $dark-primary-color;

    .card-header {
      background-color: $primary-color;
      color: $white;
    }

    .card-block {
      display: flex;
      justify-content: space-between;
    }
  }
}
